.c1_etapas{
    width: 100px;
    padding:3px;
}
.c2_etapas{
    width: 200px;
    padding:3px;
}
.c3_etapas{
    width: 200px;
    padding:3px;
}
.c4_etapas{
    width: 200px;
    padding:3px;
}
.c5_etapas{
    width: 100px;
    padding:3px;
}
.c6_etapas{
    width: 100px;
    padding:3px;
}