.linhaListaFabrica{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.c1_fabrica{
    width: 100px;
    padding:3px;
}
.c2_fabrica{
    width: 250px;
    padding:3px;
}
.c3_fabrica{
    width: 200px;
    padding:3px;
}
.c4_fabrica{
    width: 150px;
    padding:3px;
}
.c5_fabrica{
    width: 250px;
    padding:3px;
}
.c6_fabrica{
    width: 100px;
    padding:3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}