.linhaListaCelula{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.c1_itemSimples{
    width: 100px;
    padding:3px;
}
.c2_itemSimples{
    width: 300px;
    padding:3px;
}
.c3_itemSimples{
    width: 100px;
    padding:3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}