.c1_materiaprimaitem{
    width: 100px;
    padding:3px;
}
.c2_materiaprimaitem{
    width: 400px;
    padding:3px;
}
.c3_materiaprimaitem{
    width: 200px;
    padding:3px;
}
.c4_materiaprimaitem{
    width: 100px;
    padding:3px;
}
