:root {
  --cor-fundo-escuro:#282c34;
  --cor-fundo-menu:#ccc;  
}

.Topo{
  background-color: #00428C;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logoContent{
  width: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Logo{
  height: 30px;
  width: 230px;
}

/* .IconeTopo{
  width: 50px;
  cursor: pointer;
} */