.linhaListaCelula{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.c1_unidade{
    width: 100px;
    padding:3px;
}
.c2_unidade{
    width: 250px;
    padding:3px;
}
.c3_unidade{
    width: 70px;
    padding:3px;
}
.c4_unidade{
    width: 100px;
    padding:3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}